/* Estilos generales*/
body {
  background-color: #a6deef;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
}
p {
  text-align: center;
  color: #442c22;
}
ul {
  list-style-type: none;
}
span{
  font-size: 18px;
  font-weight: 200;
}
h1{
  color: #a0684f;
}
h3{
  color: #442c22;
}
h5{
  color: #442c22;
}
h6{
  color: #5b3b2d;
}
/* Estilos de clases */

.footer {
  background-color: #a6deef;
}
.card-img-top {
  height: 200px;
}
.imagenlink {
  height: 150px;
}
.imagenregion {
  object-fit: cover;
  display: block;
}
.card-precio {
  font-family: "Lucida Console", "Courier New", monospace;
}
.card-header {
  background-color: #fdcfc4;
}
.card-body {
  background-color: #70cbe5;
}
.card-footer {
  background-color: #fdcfc4;
}
.imageninmueble {
  background-color: #70cbe5;
}
.navbar {
  background-color: #f2a9a9;
  transition: background-color 0.3s ease;
  padding-bottom: 0px;
  padding-top: 0px;
}
.navbar.scrolled {
  background-color: rgba(0, 123, 255, 0.8);
}
.hover-text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  opacity: 0;
  transition: 0.3s ease;
}
.wrapper:hover .hover-text {
  opacity: 1;
}
.wrapper {
  width: 100%;
  position: relative;
}
.texto {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Animaciones */
.animate-logo {
  animation: float 3s infinite;
}
.imgcar {
  max-height: 600px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.animate-footer {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* estilos de fuentes*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
