.card-img-top {
  display: block;
  height: 200px;
  object-fit: cover;
}
.card-precio {
  font-family: "Lucida Console", "Courier New", monospace;
}
.navbar {
  background-color: #f2a9a9;
}
.card-header {
  background-color: #fdcfc4;
}
.card-body {
  background-color: #70cbe5;
}
.card-footer {
  background-color: #fdcfc4;
}
.imageninmueble {
  background-color: #70cbe5;
}
body {
  background-color: #a6deef;
}
footer {
  background-color: #a6deef;
}
p {
  text-align: center;
}
