{% extends 'base.html' %}{% block title %} Mi Casita - Arriendo Compartido
{% endblock %} {% block content %}
{% load static %}
<body>
    <div class="container text-center my-5">
        <img style="max-height: 400px;" src="{% static 'img/homecards3.jpg' %}" alt="Arriendo Compartido">
        <h1 class="my-3">Cómo elegir una casa</h1>
        <p>Compartir un arriendo puede ser una experiencia enriquecedora si se maneja adecuadamente. Es crucial establecer acuerdos claros desde el principio para evitar malentendidos. Lo primero es elegir compañeros de vivienda compatibles, considerando factores como hábitos de limpieza, horarios y estilo de vida. Una comunicación honesta sobre expectativas es clave.</p>
        <br>
        <p>El contrato de arriendo debe incluir los nombres de todos los involucrados para que cada persona sea responsable de su parte del alquiler. Además, dividir los costos, como servicios públicos, internet y alimentos compartidos, de manera equitativa o según el uso individual puede prevenir conflictos. Herramientas como aplicaciones de finanzas compartidas facilitan este proceso.</p>
        <br>
        <p>También es útil definir reglas básicas, como horarios de visitas, uso de espacios comunes y turnos de limpieza. Esto asegura que todos se sientan cómodos y respetados. La flexibilidad y la empatía son esenciales para resolver problemas que puedan surgir.</p>
        <br>
        <p>Por último, mantener una actitud abierta y fomentar un ambiente de cooperación hará que la experiencia sea más agradable. Compartir un arriendo no solo reduce costos, sino que también ofrece la oportunidad de aprender a convivir y crear relaciones duraderas si se maneja correctamente.</p>
    </div>
</body>
</html>
{% endblock %}