{% extends 'base.html' %} {% block title %} Detalle de {{ inmueble.nombre }}
{%endblock %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Card principal -->
    <div class="col-lg-8">
      <div class="card shadow-lg border-0">
        <div class="row g-0">
          <!-- Imagen del inmueble -->
          <div
            class="rounded-start imageninmueble col-md-5 align-items-center d-flex"
          >
            <img
              src="{{ inmueble.imagen_inmueble.url }}"
              class="img-fluid rounded-start"
              alt="{{ inmueble.nombre }}"
            />
          </div>
          <!-- Detalles del inmueble -->
          <div class="col-md-7">
            <div class="card-body rounded-end">
              <h3 class="card-title text-primary">{{ inmueble.nombre }}</h3>
              <p class="card-text">
                <strong>Descripción:</strong> {{ inmueble.descripcion }}
              </p>
              <h4 class="text-success">
                Precio: {{ inmueble.precio_mensual|floatformat:2 }} CLP
              </h4>
              <hr />
              <ul class="list-unstyled">
                <li><strong>Región:</strong> {{ inmueble.region.nombre }}</li>
                <li><strong>Dirección:</strong> {{ inmueble.direccion }}</li>
                <li>
                  <strong>Habitaciones:</strong> {{ inmueble.habitaciones }}
                </li>
                <li><strong>Baños:</strong> {{ inmueble.banos }}</li>
                <li>
                  <strong>Superficie:</strong> {{ inmueble.superficie }} m²
                </li>
              </ul>

              <div
                class="d-flex justify-content-between align-items-center mt-3"
              >
                <a
                  href="{% url 'lista_inmuebles_por_region' inmueble.region.id %}"
                  class="btn btn-outline-secondary"
                  >&laquo; Volver a la lista</a
                >
                <a
                  href="mailto:{{ inmueble.vendedor.email }}"
                  class="btn btn-outline-success"
                  >Contactar al Arrendador</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
