{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Editar Perfil</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
      <!-- Tipo de Usuario -->
      <div class="col-md-6 mb-3">
        <label for="id_tipo_usuario" class="form-label">Tipo de Usuario</label>
        {{ form.tipo_usuario }}
      </div>

      <!-- Dirección -->
      <div class="col-md-6 mb-3">
        <label for="id_direccion" class="form-label">Dirección</label>
        {{ form.direccion }}
      </div>
    </div>

    <div class="row">
      <!-- Región -->
      <div class="col-md-6 mb-3">
        <label for="id_region" class="form-label">Región</label>
        {{ form.region }}
      </div>

      <!-- Comuna -->
      <div class="col-md-6 mb-3">
        <label for="id_comuna" class="form-label">Comuna</label>
        {{ form.comuna }}
      </div>
    </div>

    <button type="submit" class="btn btn-success mt-4">Guardar Cambios</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#id_region").change(function () {
      var url = "{% url 'ajax_load_comunas' %}";
      var regionId = $(this).val();
      $.ajax({
        url: url,
        data: {
          region_id: regionId,
        },
        success: function (data) {
          $("#id_comuna").html(
            '<option value="">Seleccione una comuna</option>'
          );
          $.each(data, function (key, value) {
            $("#id_comuna").append(
              '<option value="' + value.id + '">' + value.nombre + "</option>"
            );
          });
        },
      });
    });
  });
</script>
{% endblock %}
