{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">Editar Perfil</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  $("#id_region").change(function () {
    var url = "{% url 'ajax_load_comunas' %}";
    var regionId = $(this).val();
    $.ajax({
      url: url,
      data: {
        region_id: regionId,
      },
      success: function (data) {
        $("#id_comuna").html("");
        $.each(data, function (key, value) {
          $("#id_comuna").append(
            '<option value="' + value.id + '">' + value.nombre + "</option>"
          );
        });
      },
    });
  });
</script>
{% endblock %}
