{% extends 'base.html' %}{% block title %} Mi Casita - Arriendo Compartido
{% endblock %} {% block content %}
{% load static %}
<body>
    <div class="container text-center my-5">
        <img style="max-height: 400px;" src="{% static 'img/homecards2.webp' %}" alt="Arriendo Compartido">
        <h1 class="my-3">Cómo Elegir un Buen Arrendatario</h1>
    <p>
        Seleccionar un arrendatario adecuado es clave para garantizar una relación de alquiler positiva y evitar problemas futuros. 
        El primer paso es realizar una evaluación exhaustiva de los candidatos. Solicita una solicitud de alquiler que incluya 
        información personal, laboral y referencias. Es esencial verificar sus antecedentes financieros y laborales para asegurarte 
        de que cuenten con ingresos estables y sean capaces de cubrir el alquiler puntualmente.
    </p>
    <p>
        Revisar el historial crediticio del aspirante es una práctica común para evaluar su responsabilidad financiera. Además, 
        contacta a arrendadores anteriores para obtener referencias sobre su comportamiento como inquilinos, puntualidad en pagos 
        y cuidado de la propiedad.
    </p>
    <p>
        Otro aspecto importante es la entrevista personal. Este encuentro permite observar su actitud y aclarar cualquier duda sobre 
        el contrato o la convivencia. Define con claridad las reglas de la propiedad, como restricciones sobre mascotas o número 
        de ocupantes, y asegúrate de que el candidato las acepte.
    </p>
    <p>
        Finalmente, firma un contrato de arrendamiento bien detallado que especifique todas las condiciones del acuerdo, como el 
        monto del depósito, duración del contrato y obligaciones mutuas. Una elección cuidadosa ayuda a garantizar una relación 
        arrendador-arrendatario armoniosa y protege tu propiedad a largo plazo.
    </p>
    </div>
</body>
</html>
{% endblock %}