{% extends 'base.html' %} {% load static %} {% block title %} Mi Casita - Home
{% endblock %} {% block content %}
<div class="container mt-4">
  <h1 class="text-center">Bienvenido a Mi Casita!</h1>
  <div class="row">
    {% for region in regions %}
    <div class="col-md-6 mb-4">
      <div class="view overlay">
        <a
            href="{% url 'lista_inmuebles_por_region' region.id %}"
          >
        <img
          src="{{ region.imagen_region.url }}"
          class="card-img-top h-100"
          alt="Imagen de {{ region.nombre }}"
        />
        </a>
      
        <div class="card-body text-center">
          <h5 class="card-title">{{ region.nombre }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
