{% extends 'base.html' %}{% block title %} Mi Casita - Home
{% endblock %} {% block content %}
{% load static %}
<div class="container mt-4">
  <h1 class="text-center mb-5">Bienvenido a Mi Casita!</h1>
  <h6 class="text-center mb-2">Explora las propiedades que manejamos a lo largo de todo Chile!</h3>
  <div class="row">
    {% for region in regions %}
    <div class="col-md-3 m-0 p-0">
      <div class="wrapper">
        <a
              href="{% url 'lista_inmuebles_por_region' region.id %}"
            >
        <div class="imagenregion">
          <img
            src="{% static 'img/' %}{{ region.nombre|slugify }}.jpg"
            class="card-img-top"
            alt="Imagen de {{ region.nombre }}"
          />
          <div class="hover-text card-text text-center">
            <div class="texto">
              <h6 class="card-title"> {{ region.nombre }} </h6>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
